html{
    font-size: 20px;
}
body{
    font-family:"Arial","Meiryo",sans-serif ;
    text-align:center;
}
.google-fonts{ 
  font-family : "Josefin Sans", sans-serif ;
  font-optical-sizing : auto ;
  font-weight : weight ;
  font-style : normal ;
  /* remルート要素の何倍*/ 
  font-size : 2rem ;
  color : black;
  border-bottom:solid 3px rgb(115,115,114);
  text-shadow:1px 1px 2px red;
  letter-spacing:1.2em;
}
.text-bold{
    color:skyblue;
}
.text-bold2{
    color:rgb(255, 192, 203);
}
#basic > p {
    font-weight: bold;
}

.decoration{
   color: rgb(255, 192, 203)
}

.decoration2{
    color:skyblue
}
